.messenger{
    height: calc(100vh - 70px);
    display: flex;
}

.chatMenu{
    flex: 3.5;
}

.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatMenuInput:focus{
    outline: none;
}

.chatBox{
    flex: 5.5;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
}

.chatMessageInput{
    /* width: 80%;
    height: 90px;
    padding: 10px; */
    width: 89%;
    height: 36px;
    padding: 2px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 20px;
}

.chatMessageInput:focus{
    outline: none;
}

.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    background-color: white;
    color: rgb(55, 32, 230);
    padding-top: 15px;
}


.chatOnline{
    flex: 3;
}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    height: 100%;
}

.noConversationText{
    position: absolute;
    top: 10%;
    font-size: 60px;
    color: rgb(223, 223, 223);
    cursor: default;
}