.feed{
    flex:5.5;
}

.feedWrapper{
    padding: 20px;
}

.msgBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.msg{
    font-weight: 500;
    font-size: 25px;
    display: flex;
    color: grey;
}