.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 65px;
}

.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 70px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 30px;
}

.loginBox{
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.errorBox{
    height: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.errorMsgUsername{
    font-size: 15px;
    padding: 5px;
    color: rgb(250, 79, 79);
    display: none;
}
.errorMsgEmail{
    font-size: 15px;
    padding: 5px;
    color: rgb(250, 79, 79);
    display: none;
}
.errorMsgPassword{
    font-size: 15px;
    padding: 5px;
    color: rgb(250, 79, 79);
    display: none;
}
.errorMsgPasswordAgain{
    font-size: 15px;
    padding: 5px;
    color: rgb(250, 79, 79);
    display: none;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.username:invalid ~ .errorMsgUsername{
    display: block;
}
.email:invalid ~ .errorMsgEmail{
    display: block;
}
.password:invalid ~ .errorMsgPassword{
    display: block;
}
.passwordAgain:invalid ~ .errorMsgPasswordAgain{
    display: block;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton{
    height: 50px;
    width: 60%;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}